parameters:
	ignoreErrors:
		-
			message: '#^Unsafe call to private method PhilipRehberger\\DbExpressions\\DatabaseExpressions\:\:guardColumn\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 15
			path: src/DatabaseExpressions.php
